<appSettings>
  <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=xxxxxxxxx;AccountKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx==" />
  <add key="AzureStorageAccountName" value="xxxxxxxxxx" />
  <add key="AzureStorageContainerName" value="xxxxxxxxxx" />
  <add key="AzureStorageAllowedOrigins" value="*" />
  <add key="AzureStorageSASExpireMinutes" value="60" />
</appSettings>
